img \{\
    border-radius: 0px;\
    border-style: dashed;\
    border-width: 5px;\
    border-color: rgb(239, 107, 215);\
    padding: 5px;\
\}\
h1 \{\
    font-size: 40px;\
    font-family: monospace;\
\}\
h2 \{\
    font-size: 20px;\
\}\
body \{\
    background-color: rgb(54, 180, 215);\
    color: rgb(0, 0, 0);\
    font-family: monospace;\
    text-align: center;\
\}\
a \{\
    background-color: rgb(239, 107, 215);\
    font-size: 20px;\
    border-radius: 10px;\
    padding: 10px;\
    display: block;\
    text-align: center;\
    margin: 10px;\
    color: rgb(0, 0, 0);\
\}\
.website:hover, .IG:hover, .photography:hover \{\
    transform: scale(1.1);\
\}\
.photo-border \{\
    display: flex;\
    flex-direction: row;\
    justify-content: space-around;\
\}}
